<a href="https://colab.research.google.com/github/chaussian/jupyter/blob/master/Chau_first_Google_Collab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import files
uploaded = files.upload()

Saving data.csv to data.csv

In [3]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
import seaborn as sns

In [6]:
import matplotlib.pyplot as plt

In [7]:
%matplotlib inline

In [8]:
data = pd.read_csv('data.csv')

In [9]:
data.head()

  Make       Model  Year  ... city mpg  Popularity   MSRP
0  BMW  1 Series M  2011  ...       19        3916  46135
1  BMW    1 Series  2011  ...       19        3916  40650
2  BMW    1 Series  2011  ...       20        3916  36350
3  BMW    1 Series  2011  ...       18        3916  29450
4  BMW    1 Series  2011  ...       18        3916  34500

[5 rows x 16 columns]

In [10]:
data.tail()

          Make   Model  Year  ... city mpg  Popularity   MSRP
11909    Acura     ZDX  2012  ...       16         204  46120
11910    Acura     ZDX  2012  ...       16         204  56670
11911    Acura     ZDX  2012  ...       16         204  50620
11912    Acura     ZDX  2013  ...       16         204  50920
11913  Lincoln  Zephyr  2006  ...       17          61  28995

[5 rows x 16 columns]

In [14]:
Makegroup = data.groupby(by='Make')

In [16]:
sns.countplot( )

AttributeError: ignored